//font

// Light
@font-face {
  font-family: 'GmarketSans';
  src: url('./../font/gmarket-sans/GmarketSansLight.otf') format('opentype'),
       url('./../font/gmarket-sans/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

// Medium
@font-face {
  font-family: 'GmarketSans';
  src: url('./../font/gmarket-sans/GmarketSansMedium.otf') format('opentype'),
       url('./../font/gmarket-sans/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

// Bold
@font-face {
  font-family: 'GmarketSans';
  src: url('./../font/gmarket-sans/GmarketSansBold.otf') format('opentype'),
       url('./../font/gmarket-sans/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');