body{
  background-color: $color-primary;
  display: grid;
  word-break:break-word;
  min-width: 320px;
}

//공통 class
.tvn-font{
  font-family: 'OTEnjoystoriesBA', sans-serif;;
}
button{
  cursor: pointer;
}
.btn{
  font-size: 2.4rem;
  font-weight: $font-weight-bold;
  border-radius: 1.2rem;
  line-height: 1; 
  padding:2rem 5rem;
  display: inline-block;
  transition-property:background-color;
  transition-duration: 0.5s;
  box-shadow: 2px 4px 10px 0px  rgba(0,0,0,0.15);
  letter-spacing: -0.004em;
  br{
    display: none;
  }
}
.main-bg-btn{
  background-color: $color-secondary;
  color:$color-primary;
}
.white-bg-btn{
  background-color:$color-white;
  color: $color-primary;
}



input[type="text"]{
  background-color: $color-white;
  border:none;
  border-radius: 0.8rem;
  padding:1.6rem;
  text-align: center;
  font-size: 2.4rem;
  width: 22.8rem;
  &::placeholder{
    color:$color-gray;
  }
}

//header
header{
  width:56.4rem;
  margin:auto;
}

//main
main{
  padding:12rem 0;
  text-align: center;
  color:$color-white;
  max-width: calc(100% - 3rem);
  margin:auto;
  .main-phrase{
    margin-bottom: 10rem;
    q{
      color:#F5DF4D;
      font-weight: bold;
      display: block;
      font-size: 3.6rem;
      margin:5.2rem auto 8rem;
      line-height: 1.11;
    }
    .sub-phrase{
      font-size: 1.8rem;
      line-height: 1.56em;
      display:flex;
      align-items: center;
      justify-content: center;
      gap:2rem;
      b{
        font-weight: $font-weight-bold;
        font-size: 2.2rem
      }
      &::after,
      &::before{
        content: "";
        background: url('./../../src/img/quotes.svg') no-repeat;
        background-size: contain;
        width: 3.6rem;
        height:3.2rem;
      }
      &::before{
        left:0;
      }
      &::after{
        right:0;
        transform: rotate(180deg);
      }
    }
  }

  .time-calc{
    .write-form-wrap{
      p{
        font-size: 2.4rem;
        margin-top:2rem;
        &:first-child{
          margin-top:0;
        }
      }
      input{
        margin:0 2rem;
      }
    }
    .btn-wrap{
      display: inline-block;
      position: relative;
      margin-top:12rem;
      .main-bg-btn{
        &:hover{
          background-color:$color-white;
          color: $color-primary;
        }
      }
      &::after{
        content: "";
        position: absolute;
        width: 6.4rem;
        height: 7.2rem;
        background:url('./../img/icon.png') no-repeat 50%;
        background-size: contain;
        right:-7.2rem;
        bottom: -2.2rem;
      }
    }
  }

  .time-result{
    margin-top:14.2rem;
    p{
      font-size:2.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap:1.2rem;
      margin-top:0.83em;
      &:first-child{
        margin-top:0;
      }
      b{
        font-weight: $font-weight-bold;
        font-size: 7.2rem;
      }
    }
  }
  .link-btns{
    margin-top:12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.2rem;
  }
}
//footer
footer{
  text-align: center;   
  padding:0 0 10.8rem;   
  color: $color-white;
  h2{
    width: 16.8rem;
    margin:0 auto 2rem;
  }
  p{
    font-family: "Noto Sans KR", sans-serif;
    line-height: 1.17em;
    font-size: 1.2rem;
  }
}


@media screen and (max-width: 1024px) {
  .btn{
    font-size: 1.4rem;
    padding:2rem 3.8rem;
    br{
      display: inline;
    }
  }
  input[type="text"]{
    font-size: 1.4rem;
    padding:1.2rem;
    width: clamp(13rem,40vw,15.6rem);
  }
  //main
  main{
    padding:4rem 0 6rem;
    header{
      width: 27.8rem;
    }
    .main-phrase{
      margin-bottom:6rem;
      q{
        font-size: 2.2rem;
        margin:1.45em auto;
      }
      .sub-phrase{
        gap:0;
        font-size: 1.4rem;
        b{
          font-size:1.4rem;
        }
        &::before,
        &::after{
          width: 2rem;
          height:1.8rem;
        }
      }
    }
    .time-calc{
      .write-form-wrap{
        p{
          font-size: 1.4rem;
          margin-top:1.2rem;
          &:nth-child(2){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            span{
              width: 100%;
              margin-bottom:1.2rem;
            }
          }
        }
        input{
          margin:0 0.8rem;
        }
      }
      .btn-wrap{
        margin-top:8rem;
        &::after{
          width: 4.3rem;
          height: 4.8rem;
          right:-5rem;
          bottom:-1.6rem;;
        }
      } 
    }

    .time-result{
      margin-top:6.8rem;
      p{
        font-size: 1.2rem;
        b{
          font-size: 2.4rem;
        }
      }
    }
    .link-btns{
      margin-top:5.2rem;
      gap:0.8rem;
      li:nth-child(1){
        flex-grow: 2;
      }
      li:nth-child(2){
        flex-grow: 1;
      }
      .btn{
        padding-inline: 0;
        width: 100%;
      }
    }
  }
  //footer
  footer{
    padding-bottom:4.8rem;
    h2{
      margin-bottom:1.2rem;
      width: 12.5rem;
    }
    p{
      font-size: 0.9rem;
    }
  }
}

