// 기본 색상
$color-primary: #5B2386;
$color-secondary: #FCEE21;
$color-white: #ffffff;
$color-gray:#BABCBE;


$font-family-base: 'GmarketSans', sans-serif;
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;
$font-size-lg: 20px;
$font-weight-regular: 400;
$font-weight-bold: 700;   

$breakpoint-sm: 576px;